:root {
  --main-bg-color: #ec2222;
}

* {
  margin: 0;
}
body {
  margin: 50px;
}

.hex {
  width: 100px;
  height: 100px;
  margin-left: 0px;
  margin-top: 20px;
  background-color: var(--main-bg-color);
  border: 1px darkgray solid;
}

.container {
  display: flex;
  width: 500px;
  padding-bottom: 20px;
  border-bottom: 1px solid darkgrey;
}
.text {
  display: flex;
  flex-direction: column;
}

.text .inner {
  display: flex;
  flex-direction: column;
}

.box {
  width: 20px;
  height: 20px;
  margin: 3px 0px 0px 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.r,
.g,
.b {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
}

.rgb_hex_row {
  display: flex;
  flex-direction: row;
}

.picture {
  margin-left: 30px;
}

.button {
  margin-left: 145px;
  margin-top: 10px;
  background-color: darkcyan;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: rgb(0, 50, 50);
  cursor: pointer;
}
